# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller & Build artifacts
build/
dist/
*.spec

# Virtual Environments
venv/
env/
.env

# User configs & local data
*.log
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PySide resources
*.qm
